# Dependencies
node_modules

# Build output
dist
dist-ssr

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor / OS
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea
*.swp

# Env
.env
.env.local
.env.*.local

# Claude
.claude
tsconfig.tsbuildinfo
tsconfig.node.tsbuildinfo
vite.config.js
vite.config.d.ts
